<div class="body">
    <div class="container" [ngClass]="SignUpDivVisible ? 'active' : '' " id="container">

        <div class="form-container log-in" *ngIf="!SignUpDivVisible">
            <form #logInForm="ngForm" (ngSubmit)="onLogIn();">
                <h1>Log In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" class="form-control" placeholder="Email" #email="ngModel" name="email"
                    [(ngModel)]="logInObj.email"
                    [ngClass]="email.invalid && (email.touched || email.dirty) ? 'error-border': '' " required
                    pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+[.]+[c]+[o]+[m]$">
                <div *ngIf="email.invalid && (email.touched || email.dirty)" class="error-message">
                    <span *ngIf="email?.errors?.['required']">Email 20 is Mandatory !</span>
                    <span *ngIf="email.errors?.['pattern']">Email is not valid !</span>
                </div>

                <input type="password" class="form-control" placeholder="Password" #password="ngModel" name="password"
                    [(ngModel)]="logInObj.password"
                    [ngClass]="password.invalid && (password.touched || password.dirty) ? 'error-border': '' " required
                    minlength="6" maxlength="16">
                <div *ngIf="password.invalid && (password.touched || password.dirty)" class="error-message">
                    <span *ngIf="password?.errors?.['required']">Password is Mandatory !</span>
                    <span *ngIf="password.errors?.['minlength']">Min password Length should be 6 !</span>
                </div>
                <a href="#">→ Forget Your Password? ←</a>
                <button type="submit" [disabled]="logInForm.invalid"
                    [ngClass]="logInForm.invalid ? 'button-disable' : ''">Log In</button>
            </form>
        </div>

        <div class="form-container sign-up" *ngIf="SignUpDivVisible">
            <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" class="form-control" name="name" [(ngModel)]="signUpObj.name" placeholder="Name"
                    #name="ngModel" pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$" minlength="3"
                    title="Numbers & speacial characters are not allowed.."
                    [ngClass]="name.invalid && (name.touched || name.dirty) ? 'error-border' : ''" required>
                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="error-message">
                    <span *ngIf="name.errors?.['required']">Name is mandatory !</span>
                    <pre *ngIf="name.errors?.['minlength']">Min length should be 3 !</pre>
                    <span *ngIf="name.errors?.['pattern']">Invalid Name (No. & spcl chars are not allowed)</span>
                </div>
                <input type="email" class="form-control" name="email" [(ngModel)]="signUpObj.email" placeholder="Email"
                    #email="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+[.]+[c]+[o]+[m]$"
                    [ngClass]="email.invalid && (email.touched ||email.dirty) ? 'error-border' : ''" required>
                <div *ngIf="email.invalid && ( email.touched || email.dirty )" class="error-message">
                    <span *ngIf="email.errors?.['required']">Email is mandatory !</span>
                    <span *ngIf="email.errors?.['pattern']">Email is not valid !</span>
                </div>
                <input type="password" class="form-control" name="password" [(ngModel)]="signUpObj.password"
                    #password="ngModel" placeholder="Password"
                    [ngClass]="password.invalid && (password.touched || password.dirty) ? 'error-border' : ''"
                    minlength="6" maxlength="16" required>
                <div *ngIf="password.invalid && (password.touched || password.dirty)" class="error-message">
                    <span *ngIf="password.errors?.['required']">Password is mandatory !</span>
                    <span *ngIf="password.errors?.['minlength']">Password min length should be 6 !</span>
                </div>
                <button type="submit" [disabled]="signUpForm.invalid"
                    [ngClass]="signUpForm.invalid ? 'button-disable' : ''">Sign Up</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to enjoy our all of site features..</p>
                    <button class="hidden" id="login" (click)="SignUpDivVisible = false">Log In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use our site features...</p>
                    <button class="hidden" id="register" (click)="SignUpDivVisible = true">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
</div>